body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.clac{
    border: 75px seagreen;
    border-radius: 50px;
    padding: 75px;
    box-shadow: 0 0 20px rgb(8, 5, 5);
}
.clac:hover{
    background-color: rgb(131, 129, 129);
}

input{
    width: 94%;
    padding: 10px;
    box-shadow: 0 0 20px black ;
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: cursive;
    text-align: left;
    color: rgb(4, 7, 7);
    background-color: white;
}
input:hover{
    background-color: blue;

}

.icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}


button{
    padding: 10px;
    font-size: x-large;
    cursor: pointer;
    background-color:rgb(241, 241, 241);
    border: 2px black;
    border-radius: 5px;
    font-family: cursive;
    
}
button:hover{
    background-color: blue;
}